---
---
<footer class="site-footer">
  <div class="shell footer-grid">
    <div>
      <a class="brand footer-brand" href="/">
        <img class="brand-logo" src="/images/pumphrey-logo.png" alt="Pumphrey & Co. Restoration & Services" />
      </a>
    </div>
    <div class="footer-meta">
      <span>371 E McGlincy Ln, Campbell, CA 95008</span>
      <a href="tel:4083718030">(408) 371-8030</a>
    </div>
  </div>
</footer>
